/* Fondo de gradiente para toda la pantalla */
ion-content {
  --background: linear-gradient(180deg, #000000, #a219d8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Contenedor principal del formulario */
.login-container {
  text-align: center;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 90%; /* Usar un ancho flexible */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo del logo */
.logo {
  max-width: 150px;
  margin-bottom: -90px;
}

/* Estilo del título "POWERBULL" como imagen */
.powerbull-title {
  max-width: 200px;
  margin-bottom: -60px;
}

/* Estilo del subtítulo */
.subtitle {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}

/* Estilo del formulario */
.login-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Estilo de los inputs */
ion-item {
  --background: transparent;
  --border-radius: 5px;
  margin-bottom: 15px;
}

ion-input {
  color: #333;
  --padding-start: 10px;
}

/* Estilo del enlace de recuperar contraseña */
.forgotpassword {
  color: #9b59b6;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 20px;
  text-decoration: underline;
}

.register {
  color: #9b59b6;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* Estilo del botón de inicio de sesión */
.login-button {
  --background: #9b59b6;
  --border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(155, 89, 182, 0.5);
  transition: background 0.3s, transform 0.2s;
}

.login-button:hover {
  background: #7d3c98;
  transform: scale(1.05);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
  .login-container {
      max-width: 90%;
      padding: 15px;
  }

  .subtitle {
      font-size: 1.2rem;
  }
}
