<ion-content>
  <!-- Flecha de retroceso personalizada -->
  <div class="back-button" (click)="goToLogin()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <div class="admin-container">
    <h1 class="admin-title">Panel de Administración</h1>

    <!-- Botón para redirigir a productos -->
    <ion-card (click)="goToPage('register')" class="admin-card">
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      <ion-label>Administrar Pedidos</ion-label>
    </ion-card>

    <!-- Botón para redirigir a usuarios -->
    <ion-card (click)="goToPage('products')" class="admin-card">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>Administrar Productos</ion-label>
    </ion-card>
  </div>
</ion-content>
