<ion-content>
  
  <div class="forgotpassword-container">
    <!-- Título -->
    <h2 class="subtitle">Recuperar Contraseña</h2>
    <p class="instruction">Por favor, ingresa tu correo electrónico registrado. Te enviaremos un enlace para restablecer tu contraseña.</p>

    <!-- Formulario de correo -->
    <div class="forgotpassword-card">
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="example@domain.com"
            required
          ></ion-input>
        </ion-item>

        <!-- Botón para enviar -->
        <ion-button expand="block" type="submit" class="submit-button">
          Enviar Enlace
        </ion-button>
      </form>
    </div>

    <!-- Mensaje de confirmación -->
    <p *ngIf="showConfirmation" class="confirmation-message">
      ✅ Revisa tu bandeja de entrada para restablecer tu contraseña.
    </p>

    <ion-button expand="block" fill="outline" (click)="goToLogin()" class="back-to-login-button">
      Ya tienes cuenta?
    </ion-button>


  </div>
</ion-content>




