<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addProduct()">
    <ion-item>
      <ion-input placeholder="Nombre" [(ngModel)]="newProduct.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Precio" [(ngModel)]="newProduct.price" name="price" required></ion-input>
    </ion-item>
    <ion-button type="submit">Agregar Producto</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price | currency }}</p>
      </ion-label>
      <ion-button color="primary" (click)="editProduct(product.id ?? '')">Editar</ion-button>
<ion-button color="danger" (click)="deleteProduct(product.id ?? '')">Eliminar</ion-button>

    </ion-item>
  </ion-list>
</ion-content>
