<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para agregar un nuevo producto -->
  <form (submit)="addProduct()">
    <ion-input [(ngModel)]="newProduct.name" name="name" placeholder="Nombre del producto" required></ion-input>
    <ion-input type="number" [(ngModel)]="newProduct.price" name="price" placeholder="Precio" required></ion-input>
    <input type="file" (change)="onImageSelected($event)" />
    <ion-button type="submit">Agregar Producto</ion-button>
  </form>

  <!-- Listado de productos -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        {{ product.name }}
        <p>{{ product.price | currency }}</p>
      </ion-label>
      <ion-button color="primary" (click)="editProduct(product)">Editar</ion-button>
      <ion-button *ngIf="product.id" color="danger" (click)="deleteProduct(product.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>