<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/profile" fill="clear">
        <ion-icon name="person-circle" class="header-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">BlackBull</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" class="header-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar placeholder="Buscar productos"></ion-searchbar>
  </div>

  <div class="product-cards">
    <ion-card *ngFor="let product of products" [routerLink]="['/product-detail', product.id]" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
      <ion-card-header>
        <ion-card-title class="product-name">{{ product.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">${{ product.price | number:'1.2-2' }}</p>
      </ion-card-content>
    </ion-card>
    
    <ion-button color="success" shape="round" (click)="openWhatsApp()">
      <img src="assets/img/WSP.png" alt="WhatsApp Logo" class="whatsapp-logo" />
      Contáctanos
    </ion-button>
  </div>
</ion-content>
